<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <!-- <div class="container"> -->
    <ul class="nav navbar-nav">
    	<li><a href="#" class="brand">Treebook</a></li>
    	<li><%= link_to "News Feed", newsfeed_path %></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
    	<% if user_signed_in? %>
    	<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
    	<li><%= link_to "Log Out", logout_path %></li>
    </ul>
    <% else %>
    <li><%= link_to "Register", register_path %></li>
    <li><%= link_to "Log In", login_path %></li>
    <% end %>
  <!-- </div> -->
</nav>
<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class type %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <%= message %>
    </div>
   <% end %>
<%= yield %>
</div>
</body>
</html>
