<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <!-- <div class="container"> -->
    <ul class="nav navbar-nav">
    	<li><a href="#" class="brand">Treebook</a></li>
    	<li><a href="#">Home</a></li>
    	<li><a href="#">About</a></li>
    	<li><a href="#">Blog</a></li>
    </ul>
  <!-- </div> -->
</nav>
<div class="container">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
